<div class="flex-col justify-start items-start gap-5 inline-flex hover-up">
    <a href="single.html" class="rounded-3xl overflow-hidden max-h-[370px]">
        <img src="@@img" />
    </a>
    <div class="flex-col justify-start items-start gap-3.5 flex">
        <div class="justify-start items-center gap-5 inline-flex">
            <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">@@category</div>
            </a>
            <div class="justify-start items-center gap-2 flex">
                <a href="author.html"><img class="w-9 h-9 rounded-3xl" src="@@avatar" /></a>
                <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700"><a href="author.html">@@author</a> - @@date</div>
            </div>
        </div>
        <h3><a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="single.html">@@title</a></h3>
		<p class="text-neutral-700 text-md font-regular leading-relaxed dark:text-neutral-dark-300">
			@@excerpt
		</p>
    </div>
</div>