<div class="w-full flex items-center gap-2.5  hover-up">
	<div class="justify-start items-center gap-4 inline-flex">
		<a href="single.html" class="rounded-2xl overflow-hidden max-h-[90px] max-w-[106px]">
			<img src="@@img" />
		</a>
		<div class="flex-col justify-start items-start gap-4 inline-flex">
			<h4>
				<a class="text-neutral-950 dark:text-neutral-dark-950 text-base font-bold item-link" href="single.html">@@title</a>
			</h4>
			<p class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700">@@time - @@date</p>
		</div>
	</div>
</div>