<div class="w-full rounded-3xl border-2 border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start inline-flex  hover-up">
	<div class="justify-start items-center gap-4 flex flex-col">
		<a href="single.html" class="rounded-[18px] overflow-hidden max-h-[180px]">
			<img src="@@img" />
		</a>
		<div class="p-4 flex-col gap-4 inline-flex items-center md:items-start">
			<div class="justify-start items-center gap-2 inline-flex">
				<a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
					<div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">@@category</div>
				</a>
				<div class="justify-start items-center gap-2 flex">
					<div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700">@@date</div>
				</div>
			</div>
			<h3 class="text-center md:text-start mb-4 md-mb-0">
				<a class="text-neutral-950 dark:text-neutral-dark-950 text-lg font-bold leading-tight item-link" href="single.html">@@title</a>
			</h3>
		</div>
	</div>
</div>