<div class="flex-col md:flex-row justify-start items-center gap-5 inline-flex hover-up border-2 bg-neutral-0 dark:bg-neutral-dark-0 border-neutral-300 dark:border-neutral-dark-300 rounded-3xl overflow-hidden w-full p-2">
    <a href="single.html" class="rounded-2xl overflow-hidden md:max-w-[280px]">
        <img src="@@img" />
    </a>
    <div class="flex-col justify-start items-start gap-3.5 flex pl-4 pr-6 pb-4">
        <div class="justify-start items-center gap-5 inline-flex">
            <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">@@category</div>
            </a>
            <div class="justify-start items-center gap-2 flex">
                <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700">@@date - @@time</div>
            </div>
        </div>
        <h3><a class="text-neutral-950 dark:text-neutral-dark-950 text-xl font-bold leading-snug item-link" href="single.html">@@title</a></h3>
    </div>
</div>