<div class="swiper-slide hover-up">
    <div class="w-full h-52 relative rounded-3xl overflow-hidden">
        <a href="category.html"><img class="left-0 top-0 absolute rounded-3xl" src="@@img" /></a>
        <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
            <a href="category.html" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">@@category</a>
            <div class="w-[22px] h-[22px] relative">
                <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                <div class="left-[3px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">@@number</div>
            </div>
        </div>
    </div>
</div>