<!-- BEGIN: Language Select Box -->
<div class="relative size-6 z-10">
    <div class="language absolute inline-flex flex-col gap-[2px] overflow-hidden min-w-32 h-[24px] top-0 left-0">
        <div class="language__el bg-neutral-0 dark:bg-neutral-dark-0 cursor-pointer is-active " data-lang="en">
            <div class="language__link flex gap-2 items-center">
                <img class="language__img size-6" alt="en" src="assets/imgs/template/flag-england.svg" />
                <span class="language__text text-sm text-neutral-700 dark:text-neutral-dark-300">English</span>
            </div>
        </div>
        <div class="language__el bg-neutral-0 dark:bg-neutral-dark-0 cursor-pointer" data-lang="fr">
            <div class="language__link flex gap-2 items-center">
                <img class="language__img size-6" alt="fr" src="assets/imgs/template/flag-france.svg" />
                <span class="language__text text-sm text-neutral-700 dark:text-neutral-dark-300">French</span>
            </div>
        </div>
        <div class="language__el bg-neutral-0 dark:bg-neutral-dark-0 cursor-pointer" data-lang="vn">
            <div class="language__link flex gap-2 items-center">
                <img class="language__img size-6" alt="vn" src="assets/imgs/template/flag-vietnam.svg" />
                <span class="language__text text-sm text-neutral-700 dark:text-neutral-dark-300">Vietnamese</span>
            </div>
        </div>
        <div class="language__el bg-neutral-0 dark:bg-neutral-dark-0 cursor-pointer" data-lang="ge">
            <div class="language__link flex gap-2 items-center">
                <img class="language__img size-6" alt="ge" src="assets/imgs/template/flag-germany.svg" />
                <span class="language__text text-sm text-neutral-700 dark:text-neutral-dark-300">German</span>
            </div>
        </div>
        <div class="language__el bg-neutral-0 dark:bg-neutral-dark-0 cursor-pointer" data-lang="sp">
            <div class="language__link flex gap-2 items-center">
                <img class="language__img size-6" alt="sp" src="assets/imgs/template/flag-spain.svg" />
                <span class="language__text text-sm text-neutral-700 dark:text-neutral-dark-300">Spanish</span>
            </div>
        </div>
        <div class="language__el bg-neutral-0 dark:bg-neutral-dark-0 cursor-pointer" data-lang="cn">
            <div class="language__link flex gap-2 items-center">
                <img class="language__img size-6" alt="cn" src="assets/imgs/template/flag-china.svg" />
                <span class="language__text text-sm text-neutral-700 dark:text-neutral-dark-300">中国人</span>
            </div>
        </div>
    </div>
</div>
<!-- END: Language Select Box -->