{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
      <!--Hero 1-->
  <section class="relative py-20 lg:py-24 lg:mb-16">
    <div class="container px-4">
      <h1 class="heading-1">Idea make fosters brainstorming <span class="font-light">and idea generation processes</span></h1>
      <div class="swiper-container post-slider-4">
        <div class="swiper-wrapper pt-4">
          <div class="swiper-slide hover-up">
            <div class="w-full h-52 relative rounded-3xl overflow-hidden">
              <a href="category.html"><img class="left-0 top-0 absolute rounded-3xl" src="/static/imgs/pages/img-01.png" /></a>
              <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
                <a href="category.html" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">Healthy</a>
                <div class="w-[22px] h-[22px] relative">
                  <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                  <div class="left-[3px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">17</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hover-up">
            <div class="w-full h-52 relative rounded-3xl overflow-hidden">
              <a href="category.html"><img class="left-0 top-0 absolute rounded-3xl" src="/static/imgs/pages/img-02.png" /></a>
              <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
                <a href="category.html" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">Trending</a>
                <div class="w-[22px] h-[22px] relative">
                  <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                  <div class="left-[3px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">32</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hover-up">
            <div class="w-full h-52 relative rounded-3xl overflow-hidden">
              <a href="category.html"><img class="left-0 top-0 absolute rounded-3xl" src="/static/imgs/pages/img-03.png" /></a>
              <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
                <a href="category.html" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">Fashion</a>
                <div class="w-[22px] h-[22px] relative">
                  <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                  <div class="left-[3px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">48</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hover-up">
            <div class="w-full h-52 relative rounded-3xl overflow-hidden">
              <a href="category.html"><img class="left-0 top-0 absolute rounded-3xl" src="/static/imgs/pages/img-04.png" /></a>
              <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
                <a href="category.html" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">Technology</a>
                <div class="w-[22px] h-[22px] relative">
                  <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                  <div class="left-[3px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">15</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hover-up">
            <div class="w-full h-52 relative rounded-3xl overflow-hidden">
              <a href="category.html"><img class="left-0 top-0 absolute rounded-3xl" src="/static/imgs/pages/img-05.png" /></a>
              <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
                <a href="category.html" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">Travel</a>
                <div class="w-[22px] h-[22px] relative">
                  <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                  <div class="left-[3px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">24</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center gap-8 lg:gap-32 mt-12 flex-col lg:flex-row">
        <p class="text-neutral-950 dark:text-neutral-dark-950 text-base font-medium lg:w-2/4">Goods and services. It involves entrepreneurship, management, marketing, finance, and many other aspects. Businesses aim to generate profit while meeting</p>
        <form class="max-w-full overflow-hidden" action="">
          <div class="flex flex-col md:flex-row mb-4 md:bg-neutral-0 dark:bg-neutral-dark-200 rounded-full p-1">
            <input class="focus:outline-none transition duration-200 py-4 bg-neutral-0 dark:bg-neutral-dark-200 rounded-full pl-6 w-full mb-2 md:mb-0" type="text" placeholder="Your email address">
            <button class="w-full sm:w-auto h-14 py-4 px-6 rounded-full bg-neutral-950 transition duration-200 flex items-center justify-center gap-2" type="submit">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 fill-primary-light-950" preserveAspectRatio="none">
                <path d="M19.8829 0.671875H2.8827C2.35277 0.673442 1.84497 0.890991 1.47025 1.277C1.09552 1.663 0.884334 2.18609 0.882812 2.73198V15.6118C0.884334 16.1577 1.09552 16.6807 1.47025 17.0668C1.84497 17.4528 2.35277 17.6703 2.8827 17.6719H19.8829C20.4129 17.6703 20.9207 17.4528 21.2954 17.0668C21.6701 16.6807 21.8813 16.1577 21.8828 15.6118V2.73198C21.8813 2.18609 21.6701 1.663 21.2954 1.277C20.9207 0.890991 20.4129 0.673442 19.8829 0.671875ZM19.6326 5.04989L11.3828 10.7158L3.13182 5.04989V2.98979L11.3817 8.65566L19.6315 2.98979L19.6326 5.04989Z"></path>
              </svg>
              {% if page.locale.language_code == 'en' %}
              <span class="text-neutral-0 font-medium text-2xl">Subscribe</span>
              {% elif page.locale.language_code == 'de' %}
              <span class="text-neutral-0 font-medium text-2xl">Abonnieren</span>
              {% elif page.locale.language_code == 'tr' %}
              <span class="text-neutral-0 font-medium text-2xl">Abone Ol</span>


              {% endif %}

            </button>
          </div>
          {% if page.locale.language_code == 'en' %}
          <p class="text-neutral-700 text-sm pl-4">* Unsubscribe anytime</p>
          {% elif page.locale.language_code == 'de' %}
          <p class="text-neutral-700 text-sm pl-4">* Jederzeit abbestellen</p>
          {% elif page.locale.language_code == 'tr' %}
          <p class="text-neutral-700 text-sm pl-4">* Her zaman abonelikten çıkabilirsiniz</p>
          {% endif %}
        </form>
      </div>
    </div> <!--.container-->
    <div class="header-bg absolute bottom-0 left-0 right-0 -z-50 w-full h-full bg-gradient-to-t from-primary-light-950/15 to-transparent"></div>
  </section>
  <!--Home 1 Section 1 -->
  <section class="relative pt-20 py-10 lg:pt-12 lg:pb-24">
    <div class="container px-4">
      <h3 class="heading-2 text-center mb-16"><span class="font-light">See what we’ve</span><br> written lately</h3>
      <!--Post list 1-->
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[65px]">
        {% for blog_post in  blogpages|slice:":6"%}
        <div class="flex-col justify-start items-start gap-5 inline-flex hover-up">
          <a href="{{ blog_post.url }}" class="rounded-3xl overflow-hidden w-full max-h-[606px]">
            {% image blog_post.image width-500 as custom_image %}
            <img src="{{  custom_image.url }}" class="h-[400px] w-full object-cover" />
          </a>
          <div class="flex-col justify-start items-start gap-3.5 flex">
            <div class="justify-start items-center gap-5 inline-flex">
              <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Trending</div>
              </a>
              <div class="justify-start items-center gap-2 flex">
                <a href="#"><img class="w-9 h-9 rounded-3xl object-cover" src="/static/avatar/{{ blog_post.owner}}.png" /></a>
                <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700 uppercase"><a href="#">{{ blog_post.owner}}</a> - {{blog_post.latest_revision_created_at|date:"d.m.Y"}}</div>
              </div>
            </div>
            <h3><a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="{{ blog_post.url }}">{{ blog_post.title}}</a></h3>
          </div>
        </div>
        {% endfor %}
        
      </div>
  </section>
  <!--Home 1 Section 2 -->
  <section class="relative py-10 lg:py-12">
    <div class="container px-4">
      <div class="flex flex-col lg:flex-row justify-between items-start lg:items-end mb-16">
        <h3 class="heading-2 text-left mb-4 lg:mb-0"><span class="font-light">Featured </span>Posts</h3>
        
      </div>

      <div class="grid lg:grid-cols-3 gap-[30px]">
        <!--Author box-->
        <div class="relative w-full min-w-[310px] border-2 border-neutral-300 dark:border-neutral-dark-300 rounded-3xl bg-neutral-0 dark:bg-neutral-dark-0 py-12 px-4 overflow-hidden max-h-[414px]">
          <div class="bg-primary-light-950 absolute top-0 left-0 right-0 h-28 w-full z-1"></div>
          <div class="w-full relative z-2 text-center flex flex-col justify-center content-center justify-items-center justify-self-center items-center">
            <div class="w-36 h-36 rounded-full border-4 border-neutral-0 dark:border-neutral-dark-300 overflow-hidden mb-8">
              
              <img src="/static/avatar/{{ featuredOwner}}.png" />
              
            </div>
            <div class="flex-col justify-start items-center gap-4 inline-flex">
              <a class="text-center text-neutral-950 dark:text-neutral-dark-950 text-4xl font-bold" href="author.html">{{ myName }}</a>
              <div class="text-center text-neutral-700 text-base font-medium leading-normal">Goods and services. It involves entrepreneurship, management, marketing, finance, and many other aspects. Businesses aim to generate</div>
            </div>
          </div>
        </div>
        <!--Post list 2-->
        <div class="col-span-2">
          <div class="flex flex-col gap-8">
            {% for blog_post in  blogpages|slice:":3" %}
            <div class="w-full p-2.5 lg:pr-8 rounded-3xl border-2 border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start gap-2.5 inline-flex  hover-up">
              <div class="justify-start items-center gap-11 flex flex-col md:flex-row">
                <a href="single.html" class="rounded-[18px] overflow-hidden max-h-44 md:max-w-72">
                  {% image blog_post.image width-500 as custom_image %}
                  <img src="{{  custom_image.url }}" />
                </a>
                <div class="flex-col gap-4 inline-flex items-center md:items-start">
                  <div class="justify-start items-center gap-5 inline-flex">
                    <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                      <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Business</div>
                    </a>
                    <div class="justify-start items-center gap-2 flex">
                      <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700"><a href="author.html">{{blog_post.owner}}</a> - {{blog_post.latest_revision_created_at|date:"d.m.Y"}}</div>
                    </div>
                  </div>
                  <h3 class="text-center md:text-start mb-4 md-mb-0">
                    <a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="single.html">{{ blog_post.title}}</a>
                  </h3>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
  </section>

  
  <!--Home 1 Section 4 -->
  <section class="relative py-20 lg:py-24">
    <div class="container px-4">
      <div class="grid flex-col justify-center justify-items-center align-center mb-16">
        <h3 class="heading-3 text-center mb-12 md:w-2/3 leading-tight"><span class="font-light">Subscribe to my weekly newsletter for priority</span> news, reviews and updates</h3>
        <div>
          <form class="max-w-full overflow-hidden" action="">
            <div class="flex flex-col md:flex-row mb-4 md:bg-neutral-0 dark:bg-neutral-dark-200 rounded-full p-1 md:border border-neutral-300 dark:border-neutral-dark-300">
              <input class="focus:outline-none transition duration-200 py-4 bg-neutral-0 dark:bg-neutral-dark-200 rounded-full pl-6 w-full mb-2 md:mb-0 md:border-0 border border-neutral-300 dark:border-neutral-dark-300 " type="text" placeholder="Your email address">
              <button class="w-full sm:w-auto h-14 py-4 px-6 rounded-full bg-neutral-950 transition duration-200 flex items-center justify-center gap-2" type="submit">
                <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 fill-primary-light-950" preserveAspectRatio="none">
                  <path d="M19.8829 0.671875H2.8827C2.35277 0.673442 1.84497 0.890991 1.47025 1.277C1.09552 1.663 0.884334 2.18609 0.882812 2.73198V15.6118C0.884334 16.1577 1.09552 16.6807 1.47025 17.0668C1.84497 17.4528 2.35277 17.6703 2.8827 17.6719H19.8829C20.4129 17.6703 20.9207 17.4528 21.2954 17.0668C21.6701 16.6807 21.8813 16.1577 21.8828 15.6118V2.73198C21.8813 2.18609 21.6701 1.663 21.2954 1.277C20.9207 0.890991 20.4129 0.673442 19.8829 0.671875ZM19.6326 5.04989L11.3828 10.7158L3.13182 5.04989V2.98979L11.3817 8.65566L19.6315 2.98979L19.6326 5.04989Z"></path>
                </svg>
                <span class="text-neutral-0 font-medium text-2xl">Subscribe</span>
              </button>
            </div>
            <div class="flex items-center justify-center mt-8">
              <input id="checkbox" type="checkbox" class="w-4 h-4 accent-primary-light-950  bg-primary-light-950 text-neutral-0  rounded cursor-pointer">
              <label for="checkbox" class="text-neutral-700 text-sm ml-2 cursor-pointer">I agree to the <a href="#" class="text-neutral-950 dark:text-neutral-dark-950">terms & conditions</a></label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}