{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block content %}
      <!--Hero 1-->
  <section class="relative py-20 lg:py-24 lg:mb-16">
    <div class="container px-4">
      <h1 class="heading-1">{{subtitle}} <span class="font-light">{{ subtitle_light }}</span></h1>
      <div class="swiper-container post-slider-4">
        <div class="swiper-wrapper pt-4">
          {% for category in categories %}
          <div class="swiper-slide hover-up">
            <div class="w-full h-52 relative rounded-3xl overflow-hidden">
              {% get_language_info for page.locale.language_code as lang %}
              <a href="/{{lang.code}}{{category.url}}">
                {% image category.category_image width-500 as custom_image %}
                <img class="left-0 top-0 absolute rounded-3xl" src="{{custom_image.url}}" />
              </a>
              <div class="px-[13px] py-[9px] left-[10px] top-[150px] absolute bg-neutral-0 dark:bg-neutral-dark-0 rounded-[26px] justify-center items-center gap-2.5 inline-flex">
                {% get_language_info for page.locale.language_code as lang %}
                <a href="/{{lang.code}}{{category.url}}" class="text-neutral-950 dark:text-neutral-dark-950 text-sm font-medium">{{category.name}}</a>
                <div class="w-[22px] h-[22px] relative">
                  <div class="w-7 h-7 left-[-3px] top-[-3px] absolute bg-primary-light-950 rounded-full"></div>
                  <div class="left-[5px] top-[5px] absolute text-center text-neutral-950 text-xs font-medium  leading-3">{{category.blog_count}}</div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
      <div class="flex justify-between items-center gap-8 lg:gap-32 mt-12 flex-col lg:flex-row">
        <p class="text-neutral-950 dark:text-neutral-dark-950 text-base font-medium lg:w-2/4">{{description}}</p>
        <form class="max-w-full overflow-hidden" action="/api/subscribe/" method="post">
          {% csrf_token %}
          <div class="flex flex-col md:flex-row mb-4 md:bg-neutral-0 dark:bg-neutral-dark-200 rounded-full p-1">
            <input name="email" class="focus:outline-none transition duration-200 py-4 bg-neutral-0 dark:bg-neutral-dark-200 rounded-full pl-6 w-full mb-2 md:mb-0" type="email" placeholder="Your email address">
            <button class="w-full sm:w-auto h-14 py-4 px-6 rounded-full bg-neutral-950 transition duration-200 flex items-center justify-center gap-2" type="submit">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 fill-primary-light-950" preserveAspectRatio="none">
                <path d="M19.8829 0.671875H2.8827C2.35277 0.673442 1.84497 0.890991 1.47025 1.277C1.09552 1.663 0.884334 2.18609 0.882812 2.73198V15.6118C0.884334 16.1577 1.09552 16.6807 1.47025 17.0668C1.84497 17.4528 2.35277 17.6703 2.8827 17.6719H19.8829C20.4129 17.6703 20.9207 17.4528 21.2954 17.0668C21.6701 16.6807 21.8813 16.1577 21.8828 15.6118V2.73198C21.8813 2.18609 21.6701 1.663 21.2954 1.277C20.9207 0.890991 20.4129 0.673442 19.8829 0.671875ZM19.6326 5.04989L11.3828 10.7158L3.13182 5.04989V2.98979L11.3817 8.65566L19.6315 2.98979L19.6326 5.04989Z"></path>
              </svg>
              {% if page.locale.language_code == 'en' %}
              <span class="text-neutral-0 font-medium text-1xl text-nowrap">Subscribe</span>
              {% elif page.locale.language_code == 'de' %}
              <span class="text-neutral-0 font-medium text-1xl text-nowrap">Abonnieren</span>
              {% elif page.locale.language_code == 'tr' %}
              <span class="text-neutral-0 font-medium text-1xl text-nowrap">Abone Ol</span>


              {% endif %}

            </button>
          </div>
          {% if page.locale.language_code == 'en' %}
          <p class="text-neutral-700 dark:text-neutral-dark-950 text-sm pl-4">* Unsubscribe anytime</p>
          {% elif page.locale.language_code == 'de' %}
          <p class="text-neutral-700 dark:text-neutral-dark-950 text-sm pl-4">* Jederzeit abbestellen</p>
          {% elif page.locale.language_code == 'tr' %}
          <p class="text-neutral-700 dark:text-neutral-dark-950 text-sm pl-4">* Her zaman abonelikten çıkabilirsiniz</p>
          {% endif %}
        </form>
      </div>
    </div> <!--.container-->
    <div class="header-bg absolute bottom-0 left-0 right-0 -z-50 w-full h-full bg-gradient-to-t from-primary-light-950/15 to-transparent"></div>
  </section>
  <!--Home 1 Section 1 -->
  <section class="relative pt-20 py-10 lg:pt-12 lg:pb-24">
    <div class="container px-4">
      {% if page.locale.language_code == "en"%}
      <h3 class="heading-2 text-center mb-16"><span class="font-light">See what we’ve</span><br> written lately</h3>
      {% elif page.locale.language_code == "tr"%}
      <h3 class="heading-2 text-center mb-16"><span class="font-light">Son yazılarımıza</span><br> göz atın</h3>
      {% elif page.locale.language_code == "de" %}
      <h3 class="heading-2 text-center mb-16"><span class="font-light">Sehen Sie, was wir</span><br> kürzlich geschrieben haben</h3>
      {% endif %}
      <!--Post list 1-->
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[65px]">
        {% for blog_post in  blogpages|slice:":6"%}
        <div class="flex-col justify-start items-start gap-5 inline-flex hover-up">
          <a href="{{ blog_post.url }}" class="rounded-3xl overflow-hidden w-full max-h-[606px]">
            {% image blog_post.image width-500 as custom_image %}
            <img src="{{  custom_image.url }}" class="h-[400px] w-full object-cover" />
          </a>
          <div class="flex-col justify-start items-start gap-3.5 flex">
            {% for placement in blog_post.categories_placement.all|slice:":1" %}
            <div class="justify-start items-center gap-5 inline-flex">
              {% get_language_info for page.locale.language_code as lang %}
              <a href="/{{lang.code}}{{ placement.category.url }}" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">{{placement.category.name}}</div>
              </a>
              <div class="justify-start items-center gap-2 flex">
                {% for placement in blog_post.author_placement.all|slice:":1" %}
                <a href="/{{lang.code}}{{placement.author.url}}">
                  {% image placement.author.image width-100 as custom_image %}
                  <img class="w-9 h-9 rounded-3xl object-cover" src="{{custom_image.url}}" /></a>
                <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700 uppercase"><a href="/{{lang.code}}{{placement.author.url}}">{{ placement.author.name }}</a> - {{blog_post.latest_revision_created_at|date:"d.m.Y"}}</div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <h3><a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="{{ blog_post.url }}">{{ blog_post.title}}</a></h3>
          </div>
        </div>
        {% endfor %}
        
      </div>
  </section>
  <!--Home 1 Section 2 -->
  <section class="relative py-10 lg:py-12">
    <div class="container px-4">
      <div class="flex flex-col lg:flex-row justify-between items-start lg:items-end mb-16">
        {% if page.locale.language_code == 'en' %}
        <h3 class="heading-2 text-left mb-4 lg:mb-0"><span class="font-light">Featured </span>Author</h3>
        {% elif page.locale.language_code == 'de' %}
        <h3 class="heading-2 text-left mb-4 lg:mb-0"><span class="font-light">Vorgestellter </span>Autor</h3>
        {% elif page.locale.language_code == 'tr' %}  
        <h3 class="heading-2 text-left mb-4 lg:mb-0"><span class="font-light">Öne Çıkan </span>Yazar</h3>
        {% endif %}
        
      </div>

      <div class="grid lg:grid-cols-3 gap-[30px]">
        <!--Author box-->
        <div class="relative w-full min-w-[310px] border-2 border-neutral-300 dark:border-neutral-dark-300 rounded-3xl bg-neutral-0 dark:bg-neutral-dark-0 py-12 px-4 overflow-hidden max-h-[414px]">
          <div class="bg-primary-light-950 punkt absolute top-0 left-0 right-0 h-28 w-full z-1"></div>
          <div class="w-full relative z-2 text-center flex flex-col justify-center content-center justify-items-center justify-self-center items-center">
           
            <div class="w-36 h-36 rounded-full border-4 border-neutral-0 dark:border-neutral-dark-300 overflow-hidden mb-8">
              {% image blogauthors.image fill-150x150-c100 as custom_image %}
              <img src="{{custom_image.url }}" />
              
            </div>
            
            <div class="flex-col justify-start items-center gap-4 inline-flex">
              
                {% get_language_info for page.locale.language_code as lang %}
                <a class="text-center text-neutral-950  dark:text-neutral-dark-950 text-4xl font-bold" href="/{{lang.code}}{{blogauthors.url}}">{{ blogauthors.name }}</a>
              
                <div class="text-center text-neutral-700 dark:text-neutral-dark-950 text-base font-medium leading-normal">{{blogauthors.bio}}</div>
                
            </div>
          </div>
        </div>
        <!--Post list 2-->
        <div class="col-span-2">
          <div class="flex flex-col gap-8">
            {% for blog_post in authorBlogPages %}
            <div class="w-full p-2.5 lg:pr-8 rounded-3xl border-2 border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start gap-2.5 inline-flex  hover-up">
              <div class="justify-start items-center gap-11 flex flex-col md:flex-row">
                <a href="{{blogpost_url}}" class="rounded-[18px] overflow-hidden max-h-44 md:max-w-72">
                  {% image blog_post.image width-500 as custom_image %}
                  <img src="{{  custom_image.url }}" />
                </a>
                <div class="flex-col gap-4 inline-flex items-center md:items-start">
                  {% for placement in blog_post.categories_placement.all|slice:":1" %}
                  <div class="justify-start items-center gap-5 inline-flex">
                    
                    {% get_language_info for page.locale.language_code as lang %}
                    <a href="/{{lang.code}}{{placement.category.url}}" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                      
                      <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">{{placement.category.name}}</div>

                    </a>
                    <div class="justify-start items-center gap-2 flex">
                      {% for placement in blog_post.author_placement.all|slice:":1" %}
                      <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700"><a href="/{{lang.code}}{{placement.author.url}}">{{ placement.author.name }}</a> - {{blog_post.latest_revision_created_at|date:"d.m.Y"}}</div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                  <h3 class="text-center md:text-start mb-4 md-mb-0">
                    <a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="{{blog_post.url}}">{{ blog_post.title}}</a>
                  </h3>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
  </section>

    <!-- Home 3 Section 2 -->
    <section class="relative py-12 md:py-12 lg:py-12">
      <div class="container px-4">
        <div class="punkt bg-primary-light-950 dark:bg-primary-dark-950 px-4 py-8  lg:px-32 lg:py-20 rounded-3xl">
          <div class="flex flex-col justify-start mb-16 items-start lg:flex-row lg:justify-between lg:items-end">
            {% if page.locale.language_code == "en"%}
            <h3 class="bg-white dark:bg-neutral-dark-200 p-3 border border-black rounded-xl heading-3 text-left mb-8 lg:mb-0 leading-none"><span class="font-light">Featured </span> Posts</h3>
            {% elif page.locale.language_code == "tr"%}
            <h3 class="bg-white dark:bg-neutral-dark-200 p-3 border border-black rounded-xl heading-3 text-left mb-8 lg:mb-0 leading-none"><span class="font-light">Öne Çıkan </span> Yazılar</h3>
            {% elif page.locale.language_code == "de" %}
            <h3 class="bg-white dark:bg-neutral-dark-200 p-3 border border-black rounded-xl heading-3 text-left mb-8 lg:mb-0 leading-none"><span class="font-light">Vorgestellte </span> Beiträge</h3>
            {% endif %}
            
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px]">
            {% for featured_post in blog_pages|slice:":3"%}
            <div class="w-full rounded-3xl border-2 border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start inline-flex bg-slate-100 hover-up">
              <div class="justify-start items-center gap-4 flex flex-col">
                <a href="{{ featured_post.url}}" class="rounded-[18px] overflow-hidden max-h-[180px]">
                  {% image featured_post.image width-500 as custom_image %}
                  
                  <img src="{{custom_image.url}}" />
                </a>
                <div class="p-4 flex-col gap-4 inline-flex items-start md:items-start w-full">
                  <div class="justify-start items-center gap-2 inline-flex">
                    {% for placement in featured_post.categories_placement.all|slice:":3" %}
                    <a href="/{{page.locale.language_code}}{{placement.category.url}}" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                      
                      <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">{{ placement.category.name}}</div>
                    </a>
                    {% endfor %}
                    <div class="justify-start items-center gap-2 flex">
                      <div class="text-neutral-700 text-sm font-medium leading-none ">{{featured_post.latest_revision_created_at|date:"d.m.Y"}}</div>
                    </div>
                  </div>
                  <h3 class="text-center md:text-start mb-4 md-mb-0">
                    <a class="text-neutral-950 text-lg font-bold leading-tight item-link" href="{{ featured_post.url}}">{{ featured_post.title}}</a>
                  </h3>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  
  <!--Home 1 Section 4 -->
  <section class="relative py-20 lg:py-24">
    <div class="container px-4">
      <div class="grid flex-col justify-center justify-items-center align-center mb-16">
        {% if page.locale.language_code == 'en' %}
        <h3 class="heading-3 text-center mb-12 md:w-2/3 leading-tight"><span class="font-light">Subscribe to my weekly newsletter for priority</span> news, reviews and updates</h3>
        {% elif page.locale.language_code == 'de' %}
        <h3 class="heading-3 text-center mb-12 md:w-2/3 leading-tight"><span class="font-light">Abonnieren Sie meinen wöchentlichen Newsletter für Priorität <span> Nachrichten, Bewertungen und Updates</h3>
        {% elif page.locale.language_code == 'tr' %}
        <h3 class="heading-3 text-center mb-12 md:w-2/3 leading-tight"><span class="font-light">Öncelikli haberler, incelemeler ve güncellemeler için</span> haftalık bültenime abone olun</h3>
        {% endif %}
        <div>
          <form class="max-w-full overflow-hidden" action="/api/subscribe/" method="post">
            {% csrf_token %}
            <div class="flex flex-col md:flex-row mb-4 md:bg-neutral-0 dark:bg-neutral-dark-200 rounded-full p-1 md:border border-neutral-300 dark:border-neutral-dark-300">
              <input name="email" class="focus:outline-none transition duration-200 py-4 bg-neutral-0 dark:bg-neutral-dark-200 rounded-full pl-6 w-full mb-2 md:mb-0 md:border-0 border border-neutral-300 dark:border-neutral-dark-300 " type="email" placeholder="Your email address">
              <button class="w-full sm:w-auto h-14 py-4 px-6 rounded-full bg-neutral-950 transition duration-200 flex items-center justify-center gap-2" type="submit">
                <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 fill-primary-light-950" preserveAspectRatio="none">
                  <path d="M19.8829 0.671875H2.8827C2.35277 0.673442 1.84497 0.890991 1.47025 1.277C1.09552 1.663 0.884334 2.18609 0.882812 2.73198V15.6118C0.884334 16.1577 1.09552 16.6807 1.47025 17.0668C1.84497 17.4528 2.35277 17.6703 2.8827 17.6719H19.8829C20.4129 17.6703 20.9207 17.4528 21.2954 17.0668C21.6701 16.6807 21.8813 16.1577 21.8828 15.6118V2.73198C21.8813 2.18609 21.6701 1.663 21.2954 1.277C20.9207 0.890991 20.4129 0.673442 19.8829 0.671875ZM19.6326 5.04989L11.3828 10.7158L3.13182 5.04989V2.98979L11.3817 8.65566L19.6315 2.98979L19.6326 5.04989Z"></path>
                </svg>
                {% if page.locale.language_code == 'en' %}
                <span class="text-neutral-0 font-medium text-2xl text-nowrap">Subscribe</span>
                {% elif page.locale.language_code == 'de' %}
                <span class="text-neutral-0 font-medium text-2xl text-nowrap">Abonnieren</span>
                {% elif page.locale.language_code == 'tr' %}
                <span class="text-neutral-0 font-medium text-2xl text-nowrap">Abone Ol</span>
                {% endif %}
              </button>
            </div>
            <div class="flex items-center justify-center mt-8">
              <input id="checkbox" type="checkbox" class="w-4 h-4 accent-primary-light-950  bg-primary-light-950 text-neutral-0  rounded cursor-pointer">
              {% if page.locale.language_code == 'en' %}
              <label for="checkbox" class="text-neutral-700 dark:text-neutral-dark-600 text-sm ml-2 cursor-pointer">I agree to the <a href="#" class="text-neutral-950 dark:text-neutral-dark-950">terms & conditions</a></label>
              {% elif page.locale.language_code == 'de' %}
              <label for="checkbox" class="text-neutral-700 dark:text-neutral-dark-600 text-sm ml-2 cursor-pointer">Ich stimme den <a href="#" class="text-neutral-950 dark:text-neutral-dark-950">Geschäftsbedingungen</a> zu</label>
              {% elif page.locale.language_code == 'tr' %}
              <label for="checkbox" class="text-neutral-700  dark:text-neutral-dark-600 text-sm ml-2 cursor-pointer"><a href="#" class="text-neutral-950 dark:text-neutral-dark-950">Şartları ve Koşulları </a> kabul ediyorum</label>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}