@@include('../components/header-1.html')
<div class="header-bg absolute top-0 left-0 right-0 -z-50 w-full h-[1100px] bg-gradient-to-b from-primary-light-950/15 to-transparent max-h-[1100px] overflow-hidden"></div>

<section class="relative py-12 lg:pt-32 lg:pb-32">
    <div class="container px-4">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="mr-12">
                <span class="h-12 px-7 py-3.5 bg-neutral-0 dark:bg-neutral-dark-0 rounded-3xl border border-neutral-300 dark:border-neutral-dark-300 text-neutral-700 dark:text-neutral-dark-700 text-base font-bold leading-none mb-4 inline-block">
                    Welcome Back!
                </span>
                <h3 class="heading-3 mb-2">Forgot <span class="font-light"> Password?</span></h3>
                <p class="text-neutral-700 dark:text-neutral-dark-700 mb-16 font-medium text-2xl">No worries, we’ll send you reset instructions</p>
                <form action="">
                    <div class="form-group mb-4">
                        <label for="email" class="input-label">Email address or Username</label>
                        <input type="email" placeholder="johndoe@site.com" class="input-lg">
                    </div>
                    <button type="submit" class="w-full btn bg-primary-light-950 dark:bg-primary-dark-950 rounded-full px-8 py-4 text-xl text-neutral-950 dark:text-neutral-dark-950 font-bold text-center">
                        Reset Password
                    </button>

                    <p class="text-lg font-medium text-neutral-700 dark:text-neutral-dark-700 pt-8 pb-12">Do not have an account? <a href="page-register.html" class="text-neutral-950 dark:text-neutral-dark-950 underline">Create Now</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

@@include('../components/footer-2.html')