<!-- Footer -->
<footer class="w-full pb-20">
    <div class="container px-4">
        <div class="border-t border-neutral-950 dark:border-neutral-dark-500 pb-20 "></div>
        <div class="grid lg:grid-cols-2">
            <div class="mb-8 lg:mb-4 lg:max-w-96">
                <h1 class="mb-8">
                    <a href="index.html">
                        <img src="assets/imgs/template/logo.svg" alt="logo" class="flex-shrink-0 relative dark:hidden">
                        <img src="assets/imgs/template/logo-white.svg" alt="logo" class="flex-shrink-0 relative hidden dark:inline-block">
                    </a>
                </h1>
                <p class="font-medium text-neutral-950 dark:text-neutral-dark-950 mb-8 lg:mb-12 max-w-[350px]">
                    It involves entrepreneurship, management, marketing, finance, and many other aspects. Businesses aim to generate
                </p>
                @@include('../elements/social-icon.html')
            </div>

            <div class="grid grid-cols- lg:grid-cols-3 md:grid-cols-3">
                <div class="mb-4">
                    <h6 class="text-base font-bold text-neutral-700 dark:text-neutral-dark-700 mb-2">Category</h6>
                    <ul>
                        <li class="footer-menu">
                            <a href="category.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Trending</a>
                        </li>
                        <li class="footer-menu">
                            <a href="category-2.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Fashion</a>
                        </li>
                        <li class="footer-menu">
                            <a href="category-3.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Technology</a>
                        </li>
                        <li class="footer-menu">
                            <a href="category-4.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Healthy</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h6 class="text-base font-bold text-neutral-700 dark:text-neutral-dark-700 mb-2">Pages</h6>
                    <ul>
                        <li class="footer-menu">
                            <a href="page-about.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">About me</a>
                        </li>
                        <li class="footer-menu">
                            <a href="page-contact.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Contact</a>
                        </li>
                        <li class="footer-menu">
                            <a href="page-author.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Author</a>
                        </li>
                        <li class="footer-menu">
                            <a href="page-search.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Search results</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h6 class="text-base font-bold text-neutral-700 dark:text-neutral-dark-700 mb-2">Account</h6>
                    <ul>
                        <li class="footer-menu">
                            <a href="page-register.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Register</a>
                        </li>
                        <li class="footer-menu">
                            <a href="page-login.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Login</a>
                        </li>
                        <li class="footer-menu">
                            <a href="page-forgot-password.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">Forgot Password</a>
                        </li>
                        <li class="footer-menu">
                            <a href="page-404.html" class="text-base font-regular text-neutral-950 dark:text-neutral-dark-950">404</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-8">
            <p class="text-sm text-neutral-700 dark:text-neutral-dark-700">© IDEKO 2024. Designed by <a href="https://alithemes.com" class="text-neutral-950 dark:text-neutral-dark-950">Alithemes</a></p>
        </div>
    </div>
</footer>
<!--Scripts-->
<script src="assets/js/vendors/jquery-3.7.1.min.js"></script>
<script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendors/jquery.scrollUp.min.js"></script>
<script src="assets/js/vendors/swiper-bundle.js"></script>
<script src="assets/js/vendors/waypoints.min.js"></script>
<script src="assets/js/vendors/wow.min.js"></script>
<script src="assets/js/vendors/lightbox.js"></script>
<script src="assets/js/vendors/alpine.min.js"></script>

<script src="assets/js/main.js"></script>
</body>

</html>