<!--Mobile Menu-->
<div class="navbar-menu fixed top-0 left-0 z-50 w-full h-full bg-neutral-950 bg-opacity-30 hidden">
	<div class="fixed top-0 left-0 bottom-0 w-5/6 max-w-xs bg-neutral-0 dark:bg-neutral-dark-0">
		<nav class="relative p-6 h-full overflow-y-auto">
			<div class="flex flex-col h-full">
				<h1 class="pt-2 pb-6">
					<a href="index.html">
						<img src="assets/imgs/template/logo.svg" alt="logo" class="flex-shrink-0 relative dark:hidden">
						<img src="assets/imgs/template/logo-white.svg" alt="logo" class="flex-shrink-0 relative hidden dark:inline-block">
					</a>
				</h1>
				<ul class="py-6 mb-6 border-y border-neutral-300 dark:border-neutral-dark-300">
					<li class="has-children">
						<a class="menu-mobile-item" href="#">Home</a>
						<ul class="sub-menu">
							<li><a class="menu-mobile-sub-item" href="index.html">Home page 01</a></li>
							<li><a class="menu-mobile-sub-item" href="index-2.html">Home page 02</a></li>
							<li><a class="menu-mobile-sub-item" href="index-3.html">Home page 03</a></li>
						</ul>
					</li>
					<li class="has-children">
						<a class="menu-mobile-item" href="#">Blog</a>
						<ul class="sub-menu">
							<li><a href="category.html" class="menu-mobile-sub-item">Category 01</a></li>
							<li><a href="category-2.html" class="menu-mobile-sub-item">Category 02</a></li>
							<li><a href="category-3.html" class="menu-mobile-sub-item">Category 03</a></li>
							<li><a href="category-4.html" class="menu-mobile-sub-item">Category 04</a></li>
							<li><a href="single.html" class="menu-mobile-sub-item">Single 01</a></li>
							<li><a href="single-2.html" class="menu-mobile-sub-item">Single 02</a></li>
						</ul>
					</li>
					<li class="has-children">
						<a class="menu-mobile-item" href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="page-about.html" class="menu-mobile-sub-item">About me</a></li>
							<li><a href="page-author.html" class="menu-mobile-sub-item">Author</a></li>
							<li><a href="page-search.html" class="menu-mobile-sub-item">Search Results</a></li>
							<li><a href="page-contact.html" class="menu-mobile-sub-item">Contact</a></li>
							<li><a href="page-login.html" class="menu-mobile-sub-item">Login</a></li>
							<li><a href="page-register.html" class="menu-mobile-sub-item">Register</a></li>
							<li><a href="page-forgot-password.html" class="menu-mobile-sub-item">Forgot Password</a></li>
							<li><a href="page-404.html" class="menu-mobile-sub-item">Error 404</a></li>
						</ul>
					</li>
					<li><a class="menu-mobile-item" href="page-about.html">About</a></li>
					<li><a class="menu-mobile-item" href="page-contact.html">Contact</a></li>
				</ul>
				<div class="flex flex-wrap flex-col mt-4">
					<h4 class="text-lg text-neutral-950 dark:text-neutral-dark-950 font-bold mb-4">Stay Connectted</h4>
					<p class="text-sm text-neutral-700 font-medium mb-4 leading-5">Imagine waking up to a dose of positivity, lifestyle hacks, and inspiration tailored just for you. That's what you get when you subscribe!</p>
					<a href="page-login.html" class="w-full p-4 text-neutral-950 bg-primary-light-950 rounded-md font-bold text-sm">Subscribe Now</a>
				</div>
			</div>
		</nav>
		<a class="navbar-close absolute top-5 p-4 right-3" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="fill-neutral-950 dark:fill-neutral-dark-950">
				<g clip-path="url(#clip0_85_6880)">
					<path d="M1.42193 15.7358C1.05417 15.7571 0.692494 15.6349 0.413167 15.3948C-0.137722 14.8406 -0.137722 13.9456 0.413167 13.3914L12.4758 1.32871C13.0488 0.792556 13.9479 0.82236 14.484 1.39533C14.9689 1.91347 14.9971 2.70986 14.5502 3.26103L2.41647 15.3948C2.14074 15.6314 1.78487 15.7534 1.42193 15.7358Z" />
					<path d="M13.4712 15.7338C13.0985 15.7322 12.7412 15.5843 12.4766 15.3218L0.413906 3.25906C-0.0964635 2.66307 -0.027076 1.76613 0.568917 1.25571C1.10086 0.800179 1.88536 0.800179 2.41725 1.25571L14.551 13.3184C15.1238 13.8547 15.1534 14.7538 14.6171 15.3267C14.5958 15.3495 14.5738 15.3715 14.551 15.3928C14.2539 15.6512 13.8629 15.7747 13.4712 15.7338Z" />
				</g>
				<defs>
					<clipPath id="clip0_85_6880">
						<rect width="15" height="15" fill="white" transform="translate(0 0.828125)" />
					</clipPath>
				</defs>
			</svg>
		</a>
	</div>
</div>