<ul class="xl:flex hidden">
	<li class="relative group">
		<a class="menu-item-light" href="index.html">Home</a>
		<ul class="z-100 absolute px-6 py-4 rounded-md left-4 bg-neutral-dark-0 dark:bg-neutral-dark-0 min-w-48 shadow-sm mt-8 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:mt-4 transition-all duration-500">
			<li><a href="index.html" class="menu-sub-item-light">Home page 01</a></li>
			<li><a href="index-2.html" class="menu-sub-item-light">Home page 02</a></li>
			<li><a href="index-3.html" class="menu-sub-item-light">Home page 03</a></li>
		</ul>
	</li>
	<li class="relative group">
		<a class="menu-item-light" href="#">Blog</a>
		<ul class="z-100 absolute px-6 py-4 rounded-md left-4 bg-neutral-dark-0 dark:bg-neutral-dark-0 min-w-48 shadow-sm mt-8 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:mt-4 transition-all duration-500">
			<li><a href="category.html" class="menu-sub-item-light">Category 01</a></li>
			<li><a href="category-2.html" class="menu-sub-item-light">Category 02</a></li>
			<li><a href="category-3.html" class="menu-sub-item-light">Category 03</a></li>
			<li><a href="category-4.html" class="menu-sub-item-light">Category 04</a></li>
			<li><a href="single.html" class="menu-sub-item-light">Single 01</a></li>
			<li><a href="single-2.html" class="menu-sub-item-light">Single 02</a></li>
		</ul>
	</li>
	<li class="relative group">
		<a class="menu-item-light" href="#">Pages</a>
		<ul class="z-100 absolute px-6 py-4 rounded-md left-4 bg-neutral-dark-0 dark:bg-neutral-dark-0 min-w-48 shadow-sm mt-8 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:mt-4 transition-all duration-500">
			<li><a href="page-about.html" class="menu-sub-item-light">About me</a></li>
			<li><a href="page-author.html" class="menu-sub-item-light">Author</a></li>
			<li><a href="page-search.html" class="menu-sub-item-light">Search Results</a></li>
			<li><a href="page-contact.html" class="menu-sub-item-light">Contact</a></li>
			<li><a href="page-login.html" class="menu-sub-item-light">Login</a></li>
			<li><a href="page-register.html" class="menu-sub-item-light">Register</a></li>
			<li><a href="page-forgot-password.html" class="menu-sub-item-light">Forgot Password</a></li>
			<li><a href="page-404.html" class="menu-sub-item-light">Error 404</a></li>
		</ul>
	</li>
	<li class="group">
		<a href="#" class="menu-item-light group-hover:border-white">Features</a>
		<!-- MEGA MENU CONTENT -->
		<div class="w-full fixed left-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:mt-4 transition-all duration-500">
			<div class="container px-4">
				<div class="px-12 py-12 rounded-2xl bg-neutral-dark-0 dark:bg-neutral-dark-0 shadow-sm relative top-full left-0">
					<h3 class="text-5xl mb-8 text-neutral-dark-950 dark:text-neutral-dark-950">Featured <span class="font-bold">Posts</span></h3>
					<div class="grid grid-cols-3 w-full gap-10">
						<div class="flex flex-col gap-4">
							<div class="flex gap-6 content-center hover-up">
								<div class="max-w-28">
									<a class="inline-block md:mb-0 overflow-hidden rounded-2xl" href="single.html">
										<img src="assets/imgs/pages/thumb-01.png" alt="ideko">
									</a>
								</div>
								<div class="flex flex-col gap-3">
									<a class="text-base font-bold text-neutral-dark-950 dark:text-neutral-dark-950" href="single.html">
										Beyond the Pixels: My Art-Tech Lifestyle Journey
									</a>
									<p class="text-sm font-medium text-neutral-700">
										2 min read - June 8, 2023
									</p>
								</div>
							</div>
							<div class="flex gap-6 content-center hover-up">
								<div class="max-w-28">
									<a class="inline-block md:mb-0 overflow-hidden rounded-2xl" href="single.html">
										<img src="assets/imgs/pages/thumb-02.png" alt="ideko">
									</a>
								</div>
								<div class="flex flex-col gap-3">
									<a class="text-base font-bold text-neutral-dark-950 dark:text-neutral-dark-950" href="single.html">
										Globetrotting in Style: A Journey Through My Lens
									</a>
									<p class="text-sm font-medium text-neutral-700">
										2 min read - June 8, 2023
									</p>
								</div>
							</div>
						</div>
						<div class="flex flex-col gap-4">
							<div class="flex gap-6 content-center hover-up">
								<div class="max-w-28">
									<a class="inline-block md:mb-0 overflow-hidden rounded-2xl" href="single.html">
										<img src="assets/imgs/pages/thumb-03.png" alt="ideko">
									</a>
								</div>
								<div class="flex flex-col gap-3">
									<a class="text-base font-bold text-neutral-dark-950 dark:text-neutral-dark-950" href="single.html">
										Canvas and Keyboard: An Art-Tech Affair
									</a>
									<p class="text-sm font-medium text-neutral-700">
										2 min read - June 8, 2023
									</p>
								</div>
							</div>
							<div class="flex gap-6 content-center hover-up">
								<div class="max-w-28">
									<a class="inline-block md:mb-0 overflow-hidden rounded-2xl" href="single.html">
										<img src="assets/imgs/pages/thumb-04.png" alt="ideko">
									</a>
								</div>
								<div class="flex flex-col gap-3">
									<a class="text-base font-bold text-neutral-dark-950 dark:text-neutral-dark-950" href="single.html">
										Beyond the Pixels: My Art-Tech Lifestyle Journey
									</a>
									<p class="text-sm font-medium text-neutral-700">
										2 min read - June 8, 2023
									</p>
								</div>
							</div>
						</div>
						<div class="flex flex-col gap-4">
							<div class="flex gap-6 content-center hover-up">
								<div class="max-w-28">
									<a class="inline-block md:mb-0 overflow-hidden rounded-2xl" href="single.html">
										<img src="assets/imgs/pages/thumb-05.png" alt="ideko">
									</a>
								</div>
								<div class="flex flex-col gap-3">
									<a class="text-base font-bold text-neutral-dark-950 dark:text-neutral-dark-950" href="single.html">
										Chasing Sunsets: A Lifestyle in Living Color
									</a>
									<p class="text-sm font-medium text-neutral-700">
										2 min read - June 8, 2023
									</p>
								</div>
							</div>
							<div class="flex gap-6 content-center hover-up">
								<div class="max-w-28">
									<a class="inline-block md:mb-0 overflow-hidden rounded-2xl" href="single.html">
										<img src="assets/imgs/pages/thumb-06.png" alt="ideko">
									</a>
								</div>
								<div class="flex flex-col gap-3">
									<a class="text-base font-bold text-neutral-dark-950 dark:text-neutral-dark-950" href="single.html">
										Exploring Life's Canvas: Style, Tech, and Beyond
									</a>
									<p class="text-sm font-medium text-neutral-700">
										2 min read - June 8, 2023
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MEGA MENU CONTENT -->
	</li>
	<li class="relative"><a href="page-contact.html" class="menu-item-light">Contact</a></li>
</ul>