<!-- Category 1 Section 2 -->
<section class="relative py-4 lg:py-12">
    <div class="container px-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px]">
            <div class="grid md:grid-cols-2 justify-start items-center gap-4 rounded-3xl overflow-hidden border-2 bg-neutral-0 dark:bg-neutral-dark-0 border-neutral-300 dark:border-neutral-dark-300 hover-up">
                <a href="single.html" class="rounded-2xl overflow-hidden">
                    <img class="md:min-h-[340px] w-auto" src="assets/imgs/pages/img-21.png" />
                </a>
                <div class="flex flex-col justify-start items-start gap-4 p-8">
                    <div class="justify-start items-center gap-5 flex">
                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Lifestyle</div>
                        </a>
                        <div class="justify-start items-center gap-2 flex">
                            <a href="author.html" class="w-9 h-9"><img class="w-9 h-9 rounded-3xl" src="assets/imgs/avatar/avatar-01.png" /></a>
                            <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-300"><a href="author.html">Rose M.</a></div>
                        </div>
                    </div>
                    <h4>
                        <a class="text-neutral-950 dark:text-neutral-dark-950 text-lg font-bold item-link" href="single.html">Fashionable Bytes: Blending Style with Tech Savvy</a>
                    </h4>
                    <p class="text-neutral-700 text-sm font-medium leading-snug dark:text-neutral-dark-300">
                        Fecessitatibus maiores aut quo repellat dolore dolor. Ipsam iusto sit illo enim officia soluta qui.
                    </p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 justify-start items-center gap-4 rounded-3xl overflow-hidden border-2 bg-neutral-0 dark:bg-neutral-dark-0 border-neutral-300 dark:border-neutral-dark-300 hover-up">
                <a href="single.html" class="rounded-2xl overflow-hidden">
                    <img class="md:min-h-[340px] w-auto" src="assets/imgs/pages/img-22.png" />
                </a>
                <div class="flex flex-col justify-start items-start gap-4 p-8">
                    <div class="justify-start items-center gap-5 flex">
                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Trending</div>
                        </a>
                        <div class="justify-start items-center gap-2 flex">
                            <a href="author.html" class="w-9 h-9"><img class="w-9 h-9 rounded-3xl" src="assets/imgs/avatar/avatar-03.png" /></a>
                            <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-300"><a href="author.html">Azumi</a></div>
                        </div>
                    </div>
                    <h4>
                        <a class="text-neutral-950 dark:text-neutral-dark-950 text-lg font-bold item-link" href="single.html">Eco-Friendly Architecture: Building for a Sustainable Tomorrow</a>
                    </h4>
                    <p class="text-neutral-700 text-sm font-medium leading-snug dark:text-neutral-dark-300">
                        The Impact of Social Media on Society: A Double-Edged Sword
                    </p>
                </div>
            </div>



        </div>
    </div>
</section>