<!-- Category 1 Section 1 -->
<section class="relative py-20 lg:py-12">
    <div class="container px-4">
        <div class="flex flex-col gap-8 items-center justify-center text-center">
            @@include('../elements/breadcrumb.html')
            <h1 class="heading-1 mb-0">
                News & <span class="font-light">Articles</span>
            </h1>
            <p class="text-base md:text-lg font-medium text-neutral-950 dark:text-neutral-dark-950 max-w-3xl">Tech, fashion, lifestyle – your daily dose of innovation, style, and living. Explore the intersection in a byte-sized journey.</p>
        </div>
    </div>
</section>