<!-- Category 1 Section 2 -->
<section class="relative py-4 lg:py-12">
    <div class="container px-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px]">
            <!--Left col-->
            <div class="flex-col justify-start items-start gap-5 inline-flex hover-up">
                <a href="single.html" class="rounded-3xl overflow-hidden max-h-[370px]">
                    <img src="assets/imgs/pages/img-05.png" />
                </a>
                <div class="flex-col justify-start items-start gap-3.5 flex">
                    <div class="justify-start items-center gap-5 inline-flex">
                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Trending</div>
                        </a>
                        <div class="justify-start items-center gap-2 flex">
                            <a href="author.html"><img class="w-9 h-9 rounded-3xl" src="assets/imgs/avatar/avatar-01.png" /></a>
                            <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700"><a href="author.html">Alida</a> - June 8, 2024</div>
                        </div>
                    </div>
                    <h3><a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="single.html">Brushstrokes of Life: A Creative Journey Unveiled</a></h3>
                    <p class="text-neutral-700 text-sm md:text-base font-medium leading-relaxed dark:text-neutral-dark-600">
                        Discover the narrative woven through each brushstroke, portraying the delicate dance between chaos and harmony. As we navigate the intricate landscapes of inspiration, we unravel the stories that shape us.
                    </p>
                </div>
            </div>
            <!--Right col-->
            <div class="flex flex-col gap-[30px]">
                <!--small post-->
                <div class="w-full border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start gap-2.5 inline-flex hover-up">
                    <div class="justify-start items-center gap-8 flex flex-col md:flex-row">
                        <a href="single.html" class="rounded-[18px] overflow-hidden max-h-36 md:max-w-48">
                            <img src="assets/imgs/pages/img-06.png" />
                        </a>
                        <div class="flex-col gap-4 inline-flex items-start">
                            <div class="justify-start items-center gap-5 inline-flex">
                                <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                    <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Trending</div>
                                </a>
                                <div class="justify-start items-center gap-2 flex">
                                    <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700">2 mins read - 16 Jan 2024</div>
                                </div>
                            </div>
                            <h3 class="text-start mb-4 md-mb-0">
                                <a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="single.html">Mindful Living: Practices for a Balanced Life</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!--small post-->
                <div class="w-full border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start gap-2.5 inline-flex hover-up">
                    <div class="justify-start items-center gap-8 flex flex-col md:flex-row">
                        <a href="single.html" class="rounded-[18px] overflow-hidden max-h-36 md:max-w-48">
                            <img src="assets/imgs/pages/img-08.png" />
                        </a>
                        <div class="flex-col gap-4 inline-flex items-start">
                            <div class="justify-start items-center gap-5 inline-flex">
                                <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                    <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Science</div>
                                </a>
                                <div class="justify-start items-center gap-2 flex">
                                    <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700">9 mins read - 16 Jan 2024</div>
                                </div>
                            </div>
                            <h3 class="text-start mb-4 md-mb-0">
                                <a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="single.html">Exploring Quantum Computing: A Paradigm Shift</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <!--small post-->
                <div class="w-full border-neutral-300 dark:border-neutral-dark-300 flex-col justify-start items-start gap-2.5 inline-flex hover-up">
                    <div class="justify-start items-center gap-8 flex flex-col md:flex-row">
                        <a href="single.html" class="rounded-[18px] overflow-hidden max-h-36 md:max-w-48">
                            <img src="assets/imgs/pages/img-07.png" />
                        </a>
                        <div class="flex-col gap-4 inline-flex items-start">
                            <div class="justify-start items-center gap-5 inline-flex">
                                <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                    <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Travel</div>
                                </a>
                                <div class="justify-start items-center gap-2 flex">
                                    <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700">12 mins read - 16 Jan 2024</div>
                                </div>
                            </div>
                            <h3 class="text-start mb-4 md-mb-0">
                                <a class="text-neutral-950 dark:text-neutral-dark-950 text-2xl font-bold leading-snug item-link" href="single.html">Emerging Trends in Renewable Energy: A Green Future</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>