<!-- Category 2 Section 3 -->
<section class="relative pt-20 py-10 lg:pt-12 lg:pb-12">
    <div class="container px-4">
        <div class="flex flex-col lg:flex-row justify-between mb-16">
            <h3 class="heading-2 text-left mb-4 lg:mb-0"><span class="font-light">Featured </span> Posts</h3>
        </div>
        <div class="flex flex-col md:flex-row justify-between gap-[58px]">
            <div class="flex flex-col gap-16">
                <div class="grid md:grid-cols-1 lg:grid-cols-3 gap-x-[30px] gap-y-[65px] max-w-[850px]">
                    @@loop('../elements/card-post-8.html', [
                        {
                            "img": "assets/imgs/pages/img-02.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-01.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Transformative Learning: Adapting to Educational Innovations"
                        },
                        {
                            "img": "assets/imgs/pages/img-03.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-05.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Unraveling the Mysteries of Dark Matter"
                        },
                        {
                            "img": "assets/imgs/pages/img-04.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-06.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "A Journey Through the Enchanting Landscapes"
                        },
                        {
                            "img": "assets/imgs/pages/img-05.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-02.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "The Importance of Mental Health in Modern Society"
                        },
                        {
                            "img": "assets/imgs/pages/img-14.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-03.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Sustainable Living: Tips for a Greener Tomorrow"
                        },
                        {
                            "img": "assets/imgs/pages/img-15.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Globetrotting in Style: A Journey Through My Lens"
                        },
                        {
                            "img": "assets/imgs/pages/img-16.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "The Evolution: From Analog to Digital"
                        },
                        {
                            "img": "assets/imgs/pages/img-17.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Transformative Learning: Adapting to Educational"
                        },
                        {
                            "img": "assets/imgs/pages/img-02.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-01.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Artistry Unleashed: Exploring the Diverse World"
                        },
                        {
                            "img": "assets/imgs/pages/img-14.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-03.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Globetrotting in Style: A Journey Through My Lens"
                        },
                        {
                            "img": "assets/imgs/pages/img-15.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Unraveling the Mysteries of Dark Matter"
                        },
                        {
                            "img": "assets/imgs/pages/img-16.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Mindful Living: Practices for a Balanced Life"
                        },
                        {
                            "img": "assets/imgs/pages/img-14.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-03.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "The Future of Robotics: Transforming Industries"
                        },
                        {
                            "img": "assets/imgs/pages/img-15.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Health Tech Revolution: The Impact of Wearables"
                        },
                        {
                            "img": "assets/imgs/pages/img-16.png",
                            "category": "Trending",
                            "avatar": "assets/imgs/avatar/avatar-04.png",
                            "author": "John Wick",
                            "date": "June 8, 2024",
                            "title": "Exploring Quantum Computing: A Paradigm Shift"
                        },
                        ]
                    )

                </div>

                <div class="relative">
                    @@include('../elements/pagination.html')
                </div>
            </div>

            @@include('../components/sidebar-1.html')
        </div>
    </div>
</section>