<!--Hero 2 -->
<div class="header-bg absolute top-0 left-0 right-0 -z-50 w-full h-[1100px] bg-gradient-to-b from-primary-light-950/15 to-transparent max-h-[1100px] overflow-hidden"></div>

<section class="relative pt-20 lg:pt-24">
    <div class="container px-4">
        <h1 class="heading-1">Hey, we’re Ideko. <span class="font-light">See our thoughts, stories & </span>ideas.</h1>
    </div>
</section>

<section class="my-20 py-16 flex flex-col gap-8 relative">
    <h3 class="text-3xl md:text-5xl text-neutral-950 dark:text-neutral-dark-950 font-light text-center z-10 relative">Subscribe to <span class="font-bold">New posts</span></h3>
    <div class=" z-10 relative">
        <div class="swiper-container post-slider-6">
            <div class="swiper-wrapper pt-4">
                @@loop('../elements/card-category-1.html', [
                        {
                            "img": "assets/imgs/pages/img-01.png",
                            "category": "Fashion",
                            "number":"15"
                        },
                        {
                            "img": "assets/imgs/pages/img-02.png",
                            "category": "Health",
                            "number":"26"
                        },
                        {
                            "img": "assets/imgs/pages/img-03.png",
                            "category": "Food",
                            "number":"37"
                        },
                        {
                            "img": "assets/imgs/pages/img-04.png",
                            "category": "Travel",
                            "number":"48"
                        },
                        {
                            "img": "assets/imgs/pages/img-05.png",
                            "category": "Sports",
                            "number":"59"
                        },
                    ]
                )
            </div>
        </div>
    </div>
    <div class="flex justify-between items-center gap-8 lg:gap-32 flex-col lg:flex-row z-10 relative">
        <form class="max-w-full overflow-hidden mx-auto pt-4" action="">
            <div class="flex flex-col md:flex-row mb-4 md:bg-neutral-0 dark:bg-neutral-dark-200 rounded-full p-1 md:border border-neutral-300 dark:border-neutral-dark-300">
                <input class="focus:outline-none transition duration-200 py-4 bg-neutral-0 dark:bg-neutral-dark-200 rounded-full pl-6 w-full mb-2 md:mb-0 md:border-0 border border-neutral-300 dark:border-neutral-dark-300 " type="text" placeholder="Your email address">
                <button class="w-full sm:w-auto h-14 py-4 px-6 rounded-full bg-neutral-950 transition duration-200 flex items-center justify-center gap-2" type="submit">
                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 fill-primary-light-950" preserveAspectRatio="none">
                        <path d="M19.8829 0.671875H2.8827C2.35277 0.673442 1.84497 0.890991 1.47025 1.277C1.09552 1.663 0.884334 2.18609 0.882812 2.73198V15.6118C0.884334 16.1577 1.09552 16.6807 1.47025 17.0668C1.84497 17.4528 2.35277 17.6703 2.8827 17.6719H19.8829C20.4129 17.6703 20.9207 17.4528 21.2954 17.0668C21.6701 16.6807 21.8813 16.1577 21.8828 15.6118V2.73198C21.8813 2.18609 21.6701 1.663 21.2954 1.277C20.9207 0.890991 20.4129 0.673442 19.8829 0.671875ZM19.6326 5.04989L11.3828 10.7158L3.13182 5.04989V2.98979L11.3817 8.65566L19.6315 2.98979L19.6326 5.04989Z"></path>
                    </svg>
                    <span class="text-neutral-0 font-medium text-2xl">Subscribe</span>
                </button>
            </div>
            </div>
        </form>
    </div>
    <div class="absolute w-full top-0 left-0 z-0">
        <div class="container px-4">
            <div class="w-full h-[562px] bg-primary-light-950 dark:bg-primary-dark-950 rounded-[30px]"></div>
        </div>
    </div>
</section>