<!--Hero 2 -->
<div class="header-bg absolute top-0 left-0 right-0 -z-50 w-full h-[1760px] md:h-[1300px] lg:h-[900px] lg:max-h-[960px] overflow-hidden bg-neutral-950 block"></div>

<section class="relative pt-20 lg:pt-24">
    <div class="container px-4">
        <h1 class="heading-2 text-neutral-dark-950 text-center">We are Ideko, <span class="font-light">where we showcase our thoughts, stories, and ideas.</span></h1>
    </div>
</section>

<section class="py-16">
    <div class="container px-4">
        <div class="swiper-container post-slider-1">
            <div class="swiper-wrapper pt-4">
                <div class="swiper-slide">
                    <div class="flex flex-col md:grid md:grid-cols-2 md:col-spans-2 lg:grid-cols-4 gap-[30px]">
                        <div class="md:col-span-2">
                            <div class="grid md:grid-cols-2 justify-start items-center gap-4 rounded-3xl overflow-hidden border-2 bg-neutral-950 border-neutral-700 dark:border-neutral-dark-300 hover-up">
                                <a href="single.html" class="rounded-2xl overflow-hidden">
                                    <img class="md:min-h-[340px] w-auto" src="assets/imgs/pages/img-18.png" />
                                </a>
                                <div class="flex flex-col justify-start items-start gap-4 p-8">
                                    <div class="justify-start items-center gap-5 flex">
                                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Lifestyle</div>
                                        </a>
                                        <div class="justify-start items-center gap-2 flex">
                                            <a href="author.html" class="w-9 h-9"><img class="w-9 h-9 rounded-3xl" src="assets/imgs/avatar/avatar-01.png" /></a>
                                            <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-300"><a href="author.html">Rose M.</a></div>
                                        </div>
                                    </div>
                                    <h4>
                                        <a class="text-neutral-0 dark:text-neutral-dark-950 text-lg font-bold item-link" href="single.html">Fashionable Bytes: Blending Style with Tech Savvy</a>
                                    </h4>
                                    <p class="text-neutral-700 text-sm font-medium leading-snug dark:text-neutral-dark-300">
                                        Fecessitatibus maiores aut quo repellat dolore dolor. Ipsam iusto sit illo enim officia soluta qui.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="rounded-3xl bg-neutral-950 border-2 border-neutral-dark-300 dark:border-neutral-dark-300 flex-col justify-start items-start inline-flex overflow-hidden hover-up">
                            <div class="justify-start items-center gap-4 flex flex-col">
                                <a href="single.html" class="rounded-[18px] overflow-hidden max-h-[180px]">
                                    <img src="assets/imgs/pages/img-02.png" />
                                </a>
                                <div class="p-4 flex-col gap-4 inline-flex items-center md:items-start">
                                    <div class="justify-start items-center gap-2 inline-flex">
                                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Technology</div>
                                        </a>
                                        <div class="justify-start items-center gap-2 flex">
                                            <div class="text-neutral-700 text-sm font-regular leading-none dark:text-neutral-dark-700">26 Jan 2024</div>
                                        </div>
                                    </div>
                                    <h3 class="text-center md:text-start mb-4 md-mb-0">
                                        <a class="text-neutral-dark-950 dark:text-neutral-dark-950 text-lg font-bold leading-tight item-link" href="single.html">Canvas and Keyboard: An Art-Tech Affair</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="rounded-3xl bg-neutral-950 border-2 border-neutral-dark-300 dark:border-neutral-dark-300 flex-col justify-start items-start inline-flex overflow-hidden hover-up">
                            <div class="justify-start items-center gap-4 flex flex-col">
                                <a href="single.html" class="rounded-[18px] overflow-hidden max-h-[180px]">
                                    <img src="assets/imgs/pages/img-04.png" />
                                </a>
                                <div class="p-4 flex-col gap-4 inline-flex items-center md:items-start">
                                    <div class="justify-start items-center gap-2 inline-flex">
                                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Technology</div>
                                        </a>
                                        <div class="justify-start items-center gap-2 flex">
                                            <div class="text-neutral-700 text-sm font-regular leading-none dark:text-neutral-dark-700">26 Jan 2024</div>
                                        </div>
                                    </div>
                                    <h3 class="text-center md:text-start mb-4 md-mb-0">
                                        <a class="text-neutral-dark-950 dark:text-neutral-dark-950 text-lg font-bold leading-tight item-link" href="single.html">Navigating Life's Tapestry: My Lifestyle Chronicle</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex flex-col md:grid md:grid-cols-2 md:col-spans-2 lg:grid-cols-4 gap-[30px]">
                        <div class="md:col-span-2">
                            <div class="grid md:grid-cols-2 justify-start items-center gap-4 rounded-3xl overflow-hidden bg-neutral-950 border-2 border-neutral-700 dark:border-neutral-dark-300 hover-up">
                                <a href="single.html" class="rounded-2xl overflow-hidden">
                                    <img class="md:min-h-[340px] w-auto" src="assets/imgs/pages/img-19.png" />
                                </a>
                                <div class="flex flex-col justify-start items-start gap-4 p-8">
                                    <div class="justify-start items-center gap-5 flex">
                                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Lifestyle</div>
                                        </a>
                                        <div class="justify-start items-center gap-2 flex">
                                            <a href="author.html" class="w-9 h-9"><img class="w-9 h-9 rounded-3xl" src="assets/imgs/avatar/avatar-01.png" /></a>
                                            <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-300"><a href="author.html">Rose M.</a></div>
                                        </div>
                                    </div>
                                    <h4>
                                        <a class="text-neutral-0 dark:text-neutral-dark-950 text-lg font-bold item-link" href="single.html">Innovation in Space Exploration: New Frontiers Await</a>
                                    </h4>
                                    <p class="text-neutral-700 text-sm font-medium leading-snug dark:text-neutral-dark-300">
                                        Fecessitatibus maiores aut quo repellat dolore dolor. Ipsam iusto sit illo enim officia soluta qui.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="rounded-3xl bg-neutral-950 border-2 border-neutral-dark-300 dark:border-neutral-dark-300 flex-col justify-start items-start inline-flex overflow-hidden hover-up">
                            <div class="justify-start items-center gap-4 flex flex-col">
                                <a href="single.html" class="rounded-[18px] overflow-hidden max-h-[180px]">
                                    <img src="assets/imgs/pages/img-03.png" />
                                </a>
                                <div class="p-4 flex-col gap-4 inline-flex items-center md:items-start">
                                    <div class="justify-start items-center gap-2 inline-flex">
                                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Technology</div>
                                        </a>
                                        <div class="justify-start items-center gap-2 flex">
                                            <div class="text-neutral-700 text-sm font-regular leading-none dark:text-neutral-dark-700">26 Jan 2024</div>
                                        </div>
                                    </div>
                                    <h3 class="text-center md:text-start mb-4 md-mb-0">
                                        <a class="text-neutral-dark-950 dark:text-neutral-dark-950 text-lg font-bold leading-tight item-link" href="single.html">The Impact of Social Media on Society</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="rounded-3xl bg-neutral-950 border-2 border-neutral-dark-300 dark:border-neutral-dark-300 flex-col justify-start items-start inline-flex overflow-hidden hover-up">
                            <div class="justify-start items-center gap-4 flex flex-col">
                                <a href="single.html" class="rounded-[18px] overflow-hidden max-h-[180px]">
                                    <img src="assets/imgs/pages/img-05.png" />
                                </a>
                                <div class="p-4 flex-col gap-4 inline-flex items-center md:items-start">
                                    <div class="justify-start items-center gap-2 inline-flex">
                                        <a href="category.html" class="px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-200 dark:border-neutral-dark-300 justify-center items-center gap-2.5 flex">
                                            <div class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Technology</div>
                                        </a>
                                        <div class="justify-start items-center gap-2 flex">
                                            <div class="text-neutral-700 text-sm font-regular leading-none dark:text-neutral-dark-700">26 Jan 2024</div>
                                        </div>
                                    </div>
                                    <h3 class="text-center md:text-start mb-4 md-mb-0">
                                        <a class="text-neutral-dark-950 dark:text-neutral-dark-950 text-lg font-bold leading-tight item-link" href="single.html">Diversity in Cinema: Representations in Film</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-8 flex justify-center">
            <div class="swiper-pagination dark"></div>
        </div>
    </div>
</section>