<!--Home 1 Section 1 -->
<section class="relative pt-20 py-10 lg:pt-12 lg:pb-24">
    <div class="container px-4">
        <h3 class="heading-2 text-center mb-16"><span class="font-light">See what we’ve</span><br> written lately</h3>
        <!--Post list 1-->
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[65px]">
            @@loop('../elements/card-post-1.html', [
                {
                    "img": "assets/imgs/pages/img-06.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-01.png",
                    "author": "Daniel Taylor",
                    "date": "June 8, 2024",
                    "title": "Globetrotting in Style: A Journey Through My Lens"
                },
                {
                    "img": "assets/imgs/pages/img-07.png",
                    "category": "Science",
                    "avatar": "assets/imgs/avatar/avatar-05.png",
                    "author": "Ryan Clark",
                    "date": "June 8, 2024",
                    "title": "The Importance of Mental Health in Modern Society"
                },
                {
                    "img": "assets/imgs/pages/img-08.png",
                    "category": "Travel",
                    "avatar": "assets/imgs/avatar/avatar-06.png",
                    "author": "Emma Green",
                    "date": "June 8, 2024",
                    "title": "Innovation in Space Exploration: New Frontiers Await"
                },
                {
                    "img": "assets/imgs/pages/img-09.png",
                    "category": "Fashion",
                    "avatar": "assets/imgs/avatar/avatar-02.png",
                    "author": "Sophia Miller",
                    "date": "June 8, 2024",
                    "title": "Globetrotting in Style: A Journey Through My Lens"
                },
                {
                    "img": "assets/imgs/pages/img-10.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-03.png",
                    "author": "Alice Johnson",
                    "date": "June 8, 2024",
                    "title": "Wildlife Conservation: Preserving Biodiversity"
                },
                {
                    "img": "assets/imgs/pages/img-11.png",
                    "category": "Business",
                    "avatar": "assets/imgs/avatar/avatar-04.png",
                    "author": "Sophie Turner",
                    "date": "June 8, 2024",
                    "title": "Diversity in Cinema: Representations in Film"
                },
                ]
            )
        </div>
</section>