
<!-- Home 3 Section 3-->
<section class="relative md:pb-12 lg:pt-12 lg:pb-32">
    <div class="container px-4">
        <h3 class="heading-2 text-center mb-16"><span class="font-light">See what we’ve</span><br> written lately</h3>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[65px]">
        @@loop('../elements/card-post-7.html', [
                {
                    "img": "assets/imgs/pages/img-06.png",
                    "category": "Education",
                    "avatar": "assets/imgs/avatar/avatar-01.png",
                    "author": "Emma Green",
                    "date": "June 8, 2024",
                    "title": "Diversity in Cinema: Representations in Film",
                    "excerpt": "Corporis dolorem voluptatem temporibus perferendis a numquam cupiditate cumque debitis. Quo necessitati bus maiores aut quo repellat dolore dolor."
                },
                {
                    "img": "assets/imgs/pages/img-07.png",
                    "category": "Sports",
                    "avatar": "assets/imgs/avatar/avatar-02.png",
                    "author": "John Wick",
                    "date": "June 8, 2024",
                    "title": "Sustainable Living: Tips for a Greener Tomorrow",
                    "excerpt": "Corporis dolorem voluptatem temporibus perferendis a numquam cupiditate cumque debitis. Quo necessitati bus maiores aut quo repellat dolore dolor."
                },
                {
                    "img": "assets/imgs/pages/img-08.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-03.png",
                    "author": "Olivia White",
                    "date": "June 8, 2024",
                    "title": "The Importance of Mental Health in Modern Society",
                    "excerpt": "Corporis dolorem voluptatem temporibus perferendis a numquam cupiditate cumque debitis. Quo necessitati bus maiores aut quo repellat dolore dolor."
                },
            ]
        )
    </div>
    </div>
</section>