<!-- Single 2 Section 2 -->
<section class="relative py-12">
    <div class="container px-4">
        <div class="flex justify-center">
            <div class="post-content max-w-[850px]">
                @@include('../components/single-content.html')
                @@include('../components/single-bottom.html')
                @@include('../components/single-pagination.html')
                @@include('../components/single-comment-form.html')
            </div>
        </div>
    </div>
</section>