<!-- Single 1 Section 1 -->
<section class="relative py-4 lg:py-12">
    <div class="container px-4">
        <div class="flex w-full justify-center item-center mb-16">
            @@include('../elements/breadcrumb-2.html')
        </div>
        <div class="flex flex-col gap-4 items-center justify-center text-center">
            <div class="justify-center items-center gap-4 flex flex-col md:flex-row">
                <a href="category.html" class="inline-flex  px-3 py-[8px] bg-neutral-200 dark:bg-neutral-dark-200 rounded-3xl border border-neutral-300 dark:border-neutral-dark-300 justify-center items-center gap-2.5">
                    <span class="text-neutral-900 dark:text-neutral-dark-950 text-sm font-medium leading-none">Technology</span>
                </a>
                <div class="justify-start items-center gap-2 flex">
                    <a href="author.html"><img class="w-9 h-9 rounded-3xl" src="assets/imgs/avatar/avatar-10.png" /></a>
                    <div class="text-neutral-700 text-sm font-medium leading-none dark:text-neutral-dark-700"><a href="author.html">M. Azumi</a> - 28 January 2014</div>
                </div>
            </div>
            <h1 class="text-4xl lg:text-6xl font-bold text-neutral-950 dark:text-neutral-dark-950 max-w-5xl leading-snug">
                Whispers of Creativity: Unveiling the Symphony of Life's Artistic Voyage
            </h1>
            <p class="text-base md:text-lg font-medium text-neutral-950 dark:text-neutral-dark-950 max-w-3xl">In the grand tapestry of existence, the journey of life unfolds through the lens of creativity, where each individual becomes an artist, contributing unique brushstrokes to the canvas of existence.</p>
        </div>
    </div>
</section>