<!-- Single 1 Section 3 -->
<section class="relative py-8 lg:py-12 lg:mb-16">
    <div class="container px-4">
        <h3 class="heading-3 text-left mb-8 lg:mb-12 leading-none"><span class="font-light">Related</span> Posts</h3>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-[30px]">
            @@loop('../elements/card-post-8.html', [
                {
                    "img": "assets/imgs/pages/img-02.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-01.png",
                    "author": "John Wick",
                    "date": "June 8, 2024",
                    "title": "Globetrotting in Style: A Journey Through My Lens"
                },
                {
                    "img": "assets/imgs/pages/img-03.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-05.png",
                    "author": "John Wick",
                    "date": "June 8, 2024",
                    "title": "Globetrotting in Style: A Journey Through My Lens"
                },
                {
                    "img": "assets/imgs/pages/img-04.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-06.png",
                    "author": "John Wick",
                    "date": "June 8, 2024",
                    "title": "Globetrotting in Style: A Journey Through My Lens"
                },
                {
                    "img": "assets/imgs/pages/img-05.png",
                    "category": "Trending",
                    "avatar": "assets/imgs/avatar/avatar-02.png",
                    "author": "John Wick",
                    "date": "June 8, 2024",
                    "title": "Globetrotting in Style: A Journey Through My Lens"
                },

                ]
            )

        </div>
    </div>
</section>